<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>

<main>
    <h2>Book Store</h2>
    <a th:href="@{/book/formBook}">Crear Libro</a>
    <a th:href="@{/book/listBooks}">Lista de Libros</a>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>