<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Libros</title>
</head>
<body>
<h2>Lista de Libros</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <td>
            <a th:href="@{/listBook(id=${book.id})}">Ver</a>
            <form th:action="@{/book/deleteBook}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${book.id}"/>
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/book/formBook}">Create Book</a>
</body>
</html>